body {
    margin: 0;
    padding: 0;
    background: url(jg.jpg);
    background-size: 1500px;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: sans-serif;
}

.login {
    box-shadow: 0 0 10px 5px black;
    position: absolute;
    top: 35%;
    left: 39%;
    background: #2C3639;
    transform: translate(-50%, -5o%);
    padding: 20px;
    width: 290px;
}

.avatar {
    font-size: 50px;
    background: #62B6B7;
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 34%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    color: #434242;
}

.login h2 {
    text-align: center;
    color: #62B6B7;
    padding-top: 8px;
    letter-spacing: 5px;
    font-family: 'comic sans ms';
}

.box-login {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    border-bottom: 2px solid white;
    padding: 8px 0;
}

.box-login i {
    font-size: 19px;
    color: #62B6B7;
}

.box-login input {
    width: 100%;
    padding: 0 10px;
    background: none;
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-family: 'comic sans ms';
}

.box-login input::placeholder {
    color: white;
}

.btn-login {
    width: 100%;
    background: #62B6B7;
    padding: 15px;
    border: 1px solid #62B6B7;
    font-size: 18px;
    letter-spacing: 2px;
    color: white;
    cursor: pointer;
    transition: 0.3s;
    font-family: 'comic sans ms';
}

.btn-login:hover {
    background: rgba(0, 0, 0, 0.5);
}

.bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.bottom a {
    color: white;
    font-size: 10px;
    text-decoration: none;
}

.bottom a:hover {
    text-decoration: underline;
}